* {
    border: 1px solid rebeccapurple;
}

.container {
    background-color: blanchedalmond;
    width: 60%;
    margin: auto;


}

.car {
    width: 40%;
    height: 40%;
    /* margin: 50px; */
    margin: auto;
}

.money1 {
    background-color: aquamarine;
    padding: 5px 10px 15px 20px;
}

.deneme {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.money2 {
    background-color: brown;
    padding: 10px;
    border: 10px ridge yellow;
}