* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

i {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

.cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;

}

.cart-amount {
    position: absolute;
    top: -15px;
    right: -8px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    justify-content: center;
    gap: 1rem;

}

@media (max-width:1000px) {
    .shop {
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width:500px) {
    .shop {
        grid-template-columns: repeat(1, 223px);
    }
}

.item {
    border: 1px solid #212529;
    border-radius: 4px;
}

.details {
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
}

.price-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-quantity .buttons {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.price-quantity .buttons .bi-dash {
    color: red;
}

.bi-plus {
    color: gray;
}

/* Style button for cart.html */

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.home-btn {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 6px;
}

.bi-x-circle {
    color: red;
    font-weight: bold;

}

/* style rules for shopping cart  */

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

/* style rules for shopping item  */

.cart-item {
    border: 2px solid #212529;
    box-shadow: 15px 9px 11px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
}

.title-price-x {
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.title-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 5px;
    padding: 3px 5px;
}

.buttons-cart {
    display: flex;
    gap: 5px;
    margin: 10px 0;
    font-weight: bold;
}