* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav {
    display: flex;
    justify-content: center;

}

nav .left,
nav .middle,
nav .right {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(215, 214, 214);
    box-shadow: 2px 2px 5px black;
}

.left img {
    width: 50px;
    height: 50px;

}

.left {
    flex: 1;
}

nav .middle {
    flex: 2;
    z-index: 1;
    gap: 1rem;
    flex-wrap: wrap;


    nav .right {
        flex: 1;
        justify-content: space-around;
    }