* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 10px;
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: center;
}

.images {

    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    margin: 100px;
    /* background-image: url(./images/hands-600497_1280.jpg); */
}



@media screen and (max-width:600px) {
    .links {
        font-size: 2rem;
    }


    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .images {
        /* background-color: blue; */
        background-image: url(./images/lizard-8796682_1280.jpg);
        background-size: cover;
    }
}

@media screen and (min-width:601px) {
    .links {
        font-size: 2rem;

    }

    .images {
        /* background-color: tomato; */
        background-image: url(./images/bridge-53769_1280.jpg);
        background-size: cover;
        height: 50vh;

    }
}
}