body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: white;
    padding: 30px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

header img {
    width: 80px;
    margin-left: 50%;
}

h1 {
    font-size: 1.8em;
    color: #00796b;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    height: 50px;

}

.radio-group,
.checkbox-group {
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #00796b;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #004d40;
}

fieldset {
    border: 2px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #00796b;
}

.country-label {
    margin-top: 15px;
}