* {
    box-sizing: border-box;
}

.box {
    width: 25%;
    height: 250px;
    background: yellow;
    float: left;
    border: 1px solid burlywood;
}

@media screen and (max-width:700px) {
    .box {
        width: 50%;
    }
}

@media screen and (max-width:400px) {
    .box {
        width: 100%;
    }
}