* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

ul {
    background-color: rebeccapurple;
    list-style-type: none;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;


}

ul * {
    background-color: fuchsia;
}

ul li {
    padding: 1rem;
    border-radius: 10px;
    width: 100px;
}

.container {
    margin-top: 50px;
    background-color: aquamarine;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container * {
    background-color: orange;
    height: 50px;
}

header {
    width: 100%;
}

aside {
    width: 30%;
}

main {
    width: 30%;
}

article {
    width: 30%;
}

footer {
    width: 100%;
}



.shrink {
    background-color: indigo;
    margin-top: 50px;
    display: flex;
}

.box {
    width: 200px;
    height: 100px;
}


.box1 {
    background-color: orange;
    flex-basis: 1;

}

.box2 {
    background-color: crimson;

}

.box3 {
    background-color: greenyellow;

}