// HOME 
.home-bg-Img-container {
    @include bgImg(100vh, $pathName1);
}

.home {

    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid $text-color;
        width: 100%;

        &--last {}
    }
}