* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orangered;
}

.container {
    /* border: 2px solid red; */
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 1.2rem;
}

.image {
    text-align: center;
    /* border: 2px solid red; */
    /* min-height: 400px; */
    height: 80vh;
    max-width: 60%;
    margin: auto;
    background-image: url("https://picsum.photos/id/684/600/400");
    background-size: cover;
}

@media screen and (max-width:1200px) {
    body {
        background-color: aqua;
    }

    .image {
        background-image: url("https://picsum.photos/id/685/600/400");
    }
}

@media screen and (max-width:800px) {
    body {
        background-color: purple;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .image {
        background-image: url("https://picsum.photos/id/686/600/400");
    }
}

@media screen and (max-width:400px) {
    body {
        background-color: greenyellow;
    }

    .image {
        background-image: url("https://picsum.photos/id/687/600/400");
    }
}