.yazi {
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem auto;
    width: 50vw;
}


/* ---------------------------------- */
/*          TRANSFORM ROTATE          */
/* ---------------------------------- */

.yazi1 {
    background-color: darkcyan;
}

.yazi2 {
    background-color: fuchsia;

}

.yazi3 {
    background-color: orange;

}

.yazi4 {
    background-color: teal;
}

.yazi5 {
    background-color: olive;

}

.yazi6 {
    background-color: deeppink;

}

.box {}