#services {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(45, 160, 255) 50%, white 50px);
    background-size: 100% 200%;
    transition: all 0.8s;
}

.box:hover {
    background-position: left bottom;
    color: white;
    box-shadow: 0 0 20px rgb(255, 45, 45);
}

.box img {
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}